* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
}
body {
  font: 400 18px/1.6 Georgia, Helvetica Neue, Arial, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  border-bottom: 2px;
  word-wrap: break-word;
}
a:hover {
  text-decoration: none;
}
.code-html {
  font-family: Helvetica Neue, Arial, Helvetica, Arial, sans-serif;
}
.wrap {
  width: 770px;
  margin: 0 auto;
  letter-spacing: 1px;
  padding-bottom: 50px;
}
.wrap .content {
  padding: 6px 10px;
  font-size: 22px;
}
.wrap.aboutme {
  padding-top: 60px;
  -webkit-animation: fade-in-up 700ms 0ms ease-in-out both;
  animation: fade-in-up 700ms 0ms ease-in-out both;
}
.wrap.aboutme .content {
  font-size:50px;
  line-height: 1.2;
}
.wrap.working {
  -webkit-animation: fade-in-up 700ms 200ms ease-in-out both;
  animation: fade-in-up 700ms 200ms ease-in-out both;
}
.wrap.links {
  -webkit-animation: fade-in-up 700ms 400ms ease-in-out both;
  animation: fade-in-up 700ms 400ms ease-in-out both;
}
.wrap.links .content {
  list-style: none;
}
@media (max-width: 768px) {
  .wrap {
    width: 100%;
    padding: 0 20px 40px 20px;
  }
  .wrap.aboutme {
    margin-top: 20px;
  }
  .wrap.aboutme .content {
    font-size: 40px;
  }
  .wrap.working .content {
    font-size: 20px;
  }
  .wrap.links .content {
    font-size: 18px;
  }
}
@-webkit-keyframes fade-in-up {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}